h2 {
  color: green;
}

.notification {
  background-color: green;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.error {
  background-color: red;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
